@import 'tailwindcss';

@theme {
  --color-gold: #c9a84c;
  --color-gold-light: #e0c06a;
  --color-dark: #0d0d0d;
  --color-dark2: #121414;
  --font-cinzel: 'Cinzel', serif;
  --font-cormorant: 'Cormorant Garamond', serif;
  --font-sans: 'Epilogue', sans-serif;
}

body {
  background-color: var(--color-dark);
  font-family: 'Epilogue', sans-serif;
}

::selection {
  background-color: var(--color-gold-light);
  color: #000;
}
